@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

.main-header {
	padding: 0 rem(80px);
	background-color: $clr1;
	height: rem(80px);
	position: fixed;
	width: 100%;
	// animation: fadeInUp 0.1s linear;
	// animation-iteration-count: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
	z-index: 5;

	.search-form {
		width: rem(300px);
		justify-content: space-between;
		height: rem(48px);
		box-shadow: 0px 1px 4px 0px #0000002b;
		border-radius: 50px;
		padding-left: rem(25px);

		input {
			border: none;
			outline: none;
			background-color: inherit;

			&::placeholder {
				color: $clr2;
				font-weight: 500;
				font-size: rem(14px);
			}

			&:focus {
				outline: none;
				background-color: inherit;
			}
		}

		.search-button {
			padding: rem(8px) rem(8px) rem(8px) 0;

			button {
				font-size: rem(16px);
				width: rem(32px);
				height: rem(32px);
				border-radius: 30px;
				border: none;
				background-color: #ff385c;
				color: $clr1;
				cursor: pointer;
			}

			svg {
				height: rem(16px);
				width: rem(16px);
			}
		}
	}
}

// @keyframes fadeInUp {
// 	from {
// 		opacity: 0;
// 		transform: scale(0.5, 1) translate(0, 50px);
// 	}

// 	to {
// 		opacity: 1;
// 		transform: scale(1, 1) translate(0, 0);
// 	}
// }

.covid-header {
	padding: 0 rem(80px);
	background-color: #222222;
	height: 64px;

	p {
		color: #a3a3a3;
		font-size: rem(14px);
		text-decoration: underline;
		cursor: pointer;
		width: fit-content;
		margin: 0 auto;
	}

	@include for-mobile-layout {
		padding: 0;
	}
}

.filter-header {
	height: rem(200px);
	align-items: center;
	padding-top: rem(30px);

	> * {
		margin-bottom: rem(20px);
	}
}
