@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.guest-modal {
    width: rem(252px);
    padding: rem(12px);
    margin-left: rem(24px);
    background-color: $clr1;
    border-radius: 4px;
    border: 1px solid $clr3;
    box-shadow: $clr3 0px 2px 6px;
    position: relative;
    top: -19%;
}

