@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.login {
    height: 80vh;
    justify-content: center;

    > * {
        margin-bottom: rem(7px);
    }

    input {
        margin-bottom: rem(20px);
    }
}

.logout {
    height: 80vh;
    text-align: center;
    padding-top: rem(50px);

    h2 {
        margin-bottom: rem(30px);
    }
}