.check-modal {
    width: 300px;
    padding: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    box-shadow: #dddddd 0px 6px 16px;
    flex-basis: 35%;
    height: fit-content;
    position: sticky;
    top: 25px;
    margin-bottom: 32px;

    svg {
        width: 16px;
    }

    .title {
        margin-bottom: 24px;

        .price {
            font-weight: bold;
            font-size: 20px;
        }
    }

    .main-content {
        border: 1px solid rgb(204, 204, 204);
        border-radius: 8px;
        margin-bottom: 24px;

        > * {
            height: 56px;
            font-size: 10px;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }
        
        .top-container {
            align-items: center;
            border-bottom: 1px solid rgb(204, 204, 204);

            > * {
                flex-basis: 50%;
                padding-left: 8px;
            }

            .check-in {
                border-right: 1px solid rgb(204, 204, 204);
            }

        }
        
        .low-container {
            padding: 0 8px;

            img {
                width: 16px;
                object-fit: contain;
            }
        }

        p {
            color: gray;
            font-size: 15px;
            font-weight: normal;
        }
    }

    button {
        background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
        // background-image: radial-gradient(at 320% 100%, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
        color: rgb(255, 255, 255);
        transition: opacity 1.25s ease 0s;
        text-align: center;
        width: 100%;
        padding: 14px 0;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
    }
}