@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.date-picker-filter {
	position: absolute;
	top: -20%;
	left: 20%;
}

.DateRangePicker_picker,
.DateRangePicker_picker_1 {
	position: absolute;
	top: 90px;
	left: -50px;
}

.date-picker-modal {
	position: absolute;
	top: 25%;
	left: -41%;
}

.DateRangePickerInput_arrow_svg,
.DateRangePickerInput_arrow_svg_1 {
	display: none;
}

.DateInput,
.DateInput_1 {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.DateRangePickerInput {
	background-color: #fff0;
}

.DateRangePickerInput__withBorder {
	border: none;
}

.DateInput_fang,
.DateInput_fang_1 {
	display: none;
}
