@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.options-list {
	background-color: $clr1;
	width: fit-content;
	position: relative;
	top: 100%;

	li {
		width: max-content;
		padding: 1em 0.5em;

		&:hover {
			background-color: #ebebeb;
			width: 100%;
		}
	}
}
