* {
	box-sizing: border-box;
}

html {
	line-height: 1.6;
}

body {
	margin: 0;
	font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 .2rem;
}

h1 {
	font-size: rem(26px);
	margin: 0 0 1rem;
}

p {
	max-width: 48ch;
	margin: 0;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}
