@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.stay-preview {
	cursor: pointer;
	height: 100%;
	width: 100%;

	.summery {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.rate {
		font-size: rem(14px);
		color: #777777;
	}

	.price {
		font-weight: 800;
		padding-right: rem(4px);
	}

	p {
		margin: 0;
		font-size: rem(16px);
		color: #222222;
	}

	img {
		border-radius: 12px;
		object-fit: cover;
		height: rem(196px);
	}

	svg {
		height: rem(14px);
		width: rem(14px);
	}

	.properties,
	.amenities {
		color: rgb(113, 113, 113);
		font-weight: 400;
		min-height: rem(18px);
		font-size: rem(14px);
		line-height: rem(18px);
		max-height: rem(18px);
		overflow: hidden;
		text-overflow: ellipsis;
	}

	button {
		padding: rem(20px) 0 0;
		background-color: inherit;
		border: none;

		> * {
			width: rem(26px);
			height: rem(26px);
			cursor: pointer;

			&:last-child {
				margin-right: rem(10px);
			}

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.stay-preview-explore {
	// width: rem(792px);
	height: rem(250px);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: rem(20px);
	position: relative;
	margin-right: rem(30px);

	&::after {
		content: '';
		display: block;
		border-bottom: 1px solid rgb(235, 235, 235);
		position: absolute;
		width: 100%;
		top: 90%;
	}

	ul {
		padding: 0;
	}

	.name {
		margin-bottom: rem(10px);
	}

	.name-like-container {
		display: flex;
		justify-content: space-between;
	}

	.summery {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.rate {
		font-size: rem(14px);
		color: #777777;
	}

	.divider {
		margin-bottom: 10px;
		border-top: 1px solid rgb(221, 221, 221);
		margin-top: rem(11px);
		width: rem(32px);
	}

	.price {
		padding-right: rem(4px);

		span {
			font-weight: 800;
		}
	}

	.price-rate-container {
		margin: 0;
		font-size: 16px;
		color: #222222;
		position: relative;
		top: 35%;
	}

	img {
		border-radius: 12px;
	}

	svg:nth-of-type(1) {
		height: rem(14px);
		width: rem(14px);
	}

	.content-container {
		width: 70%;
	}

	.properties,
	.amenities {
		color: rgb(113, 113, 113);
		font-weight: 400;
		min-height: rem(18px);
		font-size: rem(14px);
		line-height: rem(18px);
		max-height: rem(18px);
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: rem(5px);
	}

	.name-like-container {
		.like {
			width: rem(24px);
			height: rem(24px);
		}
	}
}
