@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
@import "../../assets/styles/setup/mixins";

.user-statistics {
	text-align: center;
	padding: rem(20px) !important;
	grid-template-columns: 3fr 3fr 1fr;
	grid-template-rows: repeat(3, auto);
	gap: rem(20px);

	.status-chart {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.date-chart {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.profits-chart {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	.monthly-availability-chart {
		grid-column: 1 / 3;
		grid-row: 3 / 4;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: rem(20px);

		& > * {
			flex-grow: 1;
		}
	}

	@include for-mobile-layout {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		gap: rem(10px);

		.num-stays {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
			font-size: rem(12px);
		}

		.num-orders {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
			font-size: rem(12px);
		}

		.num {
			grid-column: 3 / 4;
			grid-row: 1 / 2;
			font-size: rem(12px);
		}

		.status-chart {
			grid-column: 1 / 4;
			grid-row: 2 / 3;
		}
	
		.date-chart {
			grid-column: 1 / 4;
			grid-row: 3 / 4;
		}
	
		.profits-chart {
			grid-column: 1 / 4;
			grid-row: 4 / 5;
			width: 100%;
		}
	
		.monthly-availability-chart {
			grid-column: 1 / 4;
			grid-row: 5 / 6;
			width: 100%;
		}
	}
}
