@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.user-statistics {
	text-align: center;
	padding: rem(20px) !important;
	grid-template-columns: 3fr 3fr 1fr;
	grid-template-rows: repeat(3, auto);
	gap: rem(20px);

	.status-chart {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.date-chart {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.profits-chart {
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}

	.monthly-availability-chart {
		grid-column: 1 / 3;
		grid-row: 3 / 4;

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: rem(20px);

		& > * {
			flex-grow: 1;
		}
	}
}
