@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.review-preview {
    margin-bottom: rem(40px);

    .user-container {
        margin-bottom: rem(12px);

        img {
            width: rem(56px);
            border-radius: 50%;
            margin-right: rem(20px);
        }
    }
}