@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.amenity-preview {
    margin-bottom: rem(16px);
    
    img {
        width: rem(22px);
        object-fit: contain;
        margin-right: rem(16px);
    }
}