@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.stay-location {
	.cover-img {
		max-width: 50%;
		object-fit: cover;
		border-radius: 8px;
		display: block;
		margin: rem(30px) auto;
	}

	.list-map-container {
		grid-template-columns: repeat(2, 1fr);
	}
}
