@import "../../assets/styles/setup/variables";
@import "../../assets/styles/setup/functions";
@import "../../assets/styles/setup/mixins";

.stay-location {
	.cover-img {
		max-width: 50%;
		object-fit: cover;
		border-radius: 8px;
		display: block;
		margin: rem(30px) auto;
	}

	.list-map-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	@include for-wide-layout {
		h1 {
			font-size: rem(15px);
		}
		.list-map-container {
			display: flex;
			flex-direction: column;
		}
	}
}
