@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.stay-location {
	flex-grow: 1;
	img {
		max-width: 100%;
		object-fit: cover;
		border-radius: 8px;
		display: block;
		margin: 0 auto;
	}
}
