@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.footer {
    padding: 10px 0;
    background-color: #f7f7f7;
    color:#524360;

    img {
        width: rem(16px);
        margin-left: rem(15px);
        cursor: pointer;
    }

}