
// COLOR PALETTE
$clr1: #fff; 
$clr2: #000; 
$clr3: #dddddd;
$clr4: #f0decb;
$clr5: #fff;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 960px;


