
// COLOR PALETTE
$clr1: #fff; 
$clr2: #000; 
$clr3: #dddddd;
$clr4: #cccccc;
$clr5: #fff;

$color-primary-light: #ff385c;
$color-primary-dark: #e31c5f;

// LAYOUT BREAKPOINTS
$break-mobile: 460px;
$break-narrow: 560px;
$break-normal: 790px;
$break-wide: 960px;