.filter {
	display: flex;
	margin: 0 auto;
	background-color: white;
	border-radius: 50px;
	// position: relative;
	// z-index: 10;
	// transition: .5s;

	// overflow: hidden;

	.search-inputs {
		cursor: pointer;
		display: flex;
		flex-direction: column;
		padding: 16px 24px;
		height: 66px;
		border-radius: 50px;
		

		&:focus-within {
			background-color: #ebebeb;
			border-radius: inherit;
		}

		label {
			font-size: 0.75rem;
			color: #111111;
			font-weight: bold;
		}

		> * {
			cursor: pointer;
		}

		&:hover {
			background-color: #ebebeb;
			border-radius: inherit;

			input {
				background-color: inherit;
			}
		}

		input:focus {
			outline: none;
			background-color: inherit;
		}

		&:nth-child(1) {
			width: 270px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 180px;
		}

		&:nth-child(4) {
			width: 222px;

			.search-button {
				// flex: 0 0 auto;
				padding: 8px 8px 8px 0;

				button {
					position: relative;
					left: 85%;
					bottom: 106%;
					font-size: 16px;
					width: 48px;
					height: 48px;
					border-radius: 30px;
					border: none;
					background-color: #ff385c;
					color: white;
				}

				svg {
					height: 16px;
					width: 16px;
				}
			}
		}

		input {
			border: none;
			display: block;
			position: relative;
		}

		&:nth-child(-n + 3)::after {
			// box-shadow: 18px 0px 0px -17px #dddddd;
			content: '';
			width: 1px;
			height: 1005px;
			border-right: black;
			display: inline-block;
			// position: absolute;
			// top: 50%;
			// left: 100%;
			// transform: translate(0, -100%);
		}
	}

	.guests-modal {
		top: 27%;
		right: 15%;
	}
}
