.filter {
	width: 100%;
	display: flex;
	margin: 0 auto;
	background-color: white;
	border-radius: 50px;

	// overflow: hidden;

	.search-inputs {
		// flex: 1 0 auto;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		padding: 16px 24px;
		height: 66px;

		&:focus-within {
			background-color: #ebebeb;
			border-radius: 50px;
		}

		label {
			font-size: 0.75rem;
			color: #111111;
			font-weight: bold;
		}

		& > * {
			cursor: pointer;
		}

		&:hover {
			background-color: #ebebeb;
			border-radius: 50px;

			input {
				background-color: #ebebeb;
			}
		}
		input:focus {
			outline: none;
			background-color: #ebebeb;
		}

		&:nth-child(1) {
			width: 270px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			width: 180px;
		}

		&:nth-child(4) {
			width: 222px;
		}

		input {
			border: none;
			display: block;
			position: relative;
		}
		&:nth-child(-n + 3)::after {
			content: '';
			border-right: 1px solid #dddddd;
			height: 90%;
			width: 1px;
		}
	}

	.search-button {
		flex: 0 0 auto;
		padding: 8px 8px 8px 0;

		button {
			font-size: 16px;
			width: 48px;
			height: 48px;
			border-radius: 30px;
			border: none;
			background-color: #ff385c;
			color: white;
		}

		svg {
			height: 16px;
			width: 16px;
		}
	}
}
