@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

.add-review {
    // max-width: rem(700px);
    // margin: 0 auto;

    .rate {
        flex-wrap: wrap;

        > * {
            flex-basis: 48%;
        } 
    }
    

    button {
        margin-top: rem(25px);
    }

    @include for-normal-layout {
        .rate {
            flex-direction: column;
            flex-wrap: nowrap;
            width: rem(300px);
            align-items: stretch;
    
            > * {
                flex-basis: 100%;
            }
        }
    }
}