@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

.add-review {
    .content {
        align-items: stretch;
        height: rem(200px);
        > * {
            flex-basis: 48%;
        }

        .user-rate {
            > * {
                margin-bottom: 3px;
            }
        }
    }
    
    button {
        margin-top: rem(10px);
        padding: rem(6px) rem(12px);
        background-color: inherit;
        color: $color-primary-light;
        border: 2px solid $color-primary-light;

        &:hover {
            background-color: $color-primary-light;
            color: $clr1;
        }
    }

    @include for-normal-layout {
        .content {
            flex-direction: column-reverse;
            height: auto;
    
            > * {
                flex-basis: 100%;
            }
        }
    }
}