@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

.add-review {
    .content {
        align-items: stretch;
        height: rem(200px);
        > * {
            flex-basis: 48%;
        }

        .user-rate {
            > * {
                margin-bottom: 3px;
            }
        }
    }

    @include for-normal-layout {
        .content {
            flex-direction: column-reverse;
            height: auto;
    
            > * {
                flex-basis: 100%;
            }
        }
    }
}