@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';
@import '../../assets/styles/setup/mixins';

.stay-list {
	padding: rem(50px) 0 !important;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: rem(25px) rem(16px);

	@include for-normal-layout {
		padding: rem(20px) 0 !important;
	}
}

.stay-list-user {
	// display: flex;
	// flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: rem(25px) rem(16px);

	@include for-mobile-layout {
		grid-template-columns: 1fr;
	}
	& > * {
		min-width: 250px;
		max-width: 400px;
	}
}

.amenity-list {
	padding: rem(32px) 0;

	h3 {
		padding-bottom: rem(24px);
	}
}

.rate-list {
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		flex-basis: 48%;
	}

	@include for-normal-layout {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;

		> * {
			flex-basis: 100%;
		}
	}
}

.review-list {
	padding-top: rem(32px);
	flex-wrap: wrap;
	justify-content: space-between;

	> * {
		flex-basis: 48%;
	}

	@include for-normal-layout {
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;

		> * {
			flex-basis: 100%;
		}
	}
}

.explore-ul {
	padding: 0 rem(30px);

	@include for-normal-layout {
		font-size: rem(12px);
		padding: 0;

		.stay-preview-explore {
			padding: 0 5px;
		}
	}
}
