@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.guest-modal-preview {
    margin-bottom: rem(20px);

    P {
        font-size: rem(12px);
    }

    .add-guest {
        align-items: center;

        > *:not(:last-child) {
            margin-right: rem(10px);
        }
        .minus, .plus {
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 50%;
            width: rem(32px);
            height: rem(32px);
        }
    }
}