.guest-modal-preview {
    margin-bottom: 20px;

    P {
        font-size: 12px;
    }

    .add-guest {
        align-items: center;

        > *:not(:last-child) {
            margin-right: 10px;
        }
        .minus, .plus {
            cursor: pointer;
            border: 1px solid gray;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
    }
}