@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.signup {
    flex-grow: 1;
	justify-content: center;

    &__header {
        margin-bottom: rem(40px);
    }

	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(30px);
        width: rem(400px);
	}

	&__input {
        width: 100%;
		padding: rem(10px) rem(20px);
		background-color: rgb(218, 212, 212);
		border: none;
		border-bottom: 3px solid transparent;
		border-radius: rem(3px);
		transition: all 0.3s;

		&:focus {
			outline: none;
			border-bottom: 3px solid rgb(71, 71, 179);
			box-shadow: 0 10px 15px rgba(#000, 0.1);
		}
	}

	&__label {
		font-weight: 700;
        font-size: rem(13px);
        margin-left: rem(16px);
		transition: all 0.3s;
        transform: translateY(rem(-70px));
	}

	&__input:placeholder-shown + &__label {
		visibility: hidden;
		opacity: 0;
		transform: translateY(rem(-25px));
	}

    &__btn{
        padding: rem(10px) rem(20px);
        border-radius: 5px;
        background-color: rgb(108, 140, 226);
        border: none;
		cursor: pointer;
        color: white;
        font-size: 18px;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(black, 0.2);
        }
    
        &:active, &:focus {
            // outline: none;
            transform: translateY(1px);
            box-shadow: 0 5px 10px rgba(black, 0.2);
        }
    }

    // height: 80vh;
    // justify-content: center;

    // > * {
    //     margin-bottom: rem(7px);
    // }

    // input {
    //     margin-bottom: rem(20px);
    // }
}