.home-page {
	.hero {
		margin-bottom: 40px;
		background-image: url(../../assets/img/main-hero.jpg);
		background-size: cover;
		height: 93vh;

		.filter {
			position: absolute;
			top: 20%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.hero-content {
			padding-top: 20%;
			padding-left: 80px;

			h1 {
				font-size: 48px;
				width: 8ch;
				line-height: normal;
			}

			p {
				margin-bottom: 10px;	
			}

			button {
				background-color: black;
				color: #fff;
				border: none;
				border-radius: 8px;
				padding: 10px 15px;
				font-weight: bold;
				cursor: pointer;
			}
		}
	}

	.live-anywhere {
		gap: 15px;
		margin-bottom: 40px;
	
		img {
			border-radius: 8px;
			cursor: pointer;
		}
	}
	
	.become-host {
		height: 360px;
		border-radius: 8px;
		background-image: url(../../assets/img/becomeHost.jpg);
		background-size: cover;
		color: #fff;
		justify-content: center;
		padding-left: 30px;
		margin-bottom: 40px;
	
		p {
			width: 30ch;
			margin-bottom: 20px;
		}
	
		button {
			background-color: #fff;
			color: black;
			border: none;
			border-radius: 8px;
			text-align: center;
			padding: 8px 12px;
			width: 100px;
			cursor: pointer;
		}
	
	}
	
	.discover-container {
		h1 {
			margin-bottom: 0;
		}
	
		p {
			margin-bottom: 20px;
		}
	
		.discover-content {
			gap: 15px;
		
			h3 {
				font-size: 18px;
			}
		
			p {
				font-size: 14px;
			}
		
			img {
				border-radius: 8px;
				cursor: pointer;
			}
		}
	}
}


