@import '../../assets/styles/setup/variables';
@import '../../assets/styles/setup/functions';

.home-page {
	.hero {
		margin-bottom: rem(40px);
		background-image: url(../../assets/img/main-hero.jpg);
		background-size: cover;
		height: 93vh;

		.logo-content {
			padding-top: rem(15px);

			.menu {
				background-color: $clr1;
				border-radius: 50%;
				width: rem(30px);
				cursor: pointer;
			}

			.user-img {
				border: 2px solid $clr3;
				border-radius: 50%;
				width: rem(35px);
				margin-right: rem(10px);
			}
		}

		.login-modal {
			background-color: $clr1;
			width: rem(200px);
			padding: rem(10px);
			border-radius: 4px;
			position: absolute;
			right: 8%;
			z-index: 100;

			li {
				cursor: pointer;
				padding: rem(8px);

				&:hover {
					background-color: $clr3;
				}
			}
		}

		.filter {
			position: absolute;
			top: 28%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.hero-content {
			padding-top: 13%;
			padding-left: rem(80px);

			h1 {
				font-size: rem(48px);
				width: 8ch;
				line-height: normal;
			}

			p {
				margin-bottom: rem(10px);	
			}

			button {
				background-color: $clr2;
				color: $clr1;
				border: none;
				border-radius: 8px;
				padding: rem(10px) rem(15px);
				font-weight: bold;
				cursor: pointer;
			}
		}
	}

	.live-anywhere {
		gap: rem(15px);
		margin-bottom: rem(40px);
	
		img {
			border-radius: 8px;
			cursor: pointer;
		}
	}
	
	.become-host {
		height: rem(360px);
		border-radius: 8px;
		background-image: url(../../assets/img/becomeHost.jpg);
		background-size: cover;
		color: $clr1;
		justify-content: center;
		padding-left: rem(30px);
		margin-bottom: rem(40px);
	
		p {
			width: 30ch;
			margin-bottom: rem(20px);
		}
	
		button {
			background-color: $clr1;
			color: $clr2;
			border: none;
			border-radius: 8px;
			text-align: center;
			padding: rem(8px) rem(12px);
			width: rem(100px);
			cursor: pointer;
		}
	
	}
	
	.discover-container {
		h1 {
			margin-bottom: 0;
		}
	
		p {
			margin-bottom: rem(20px);
		}
	
		.discover-content {
			gap: rem(15px);
		
			h3 {
				font-size: rem(18px);
			}
		
			p {
				font-size: rem(14px);
			}
		
			img {
				border-radius: 8px;
				cursor: pointer;
			}
		}
	}
}


